<fieldset>
	<div class="row">
		<div class="large-6 medium-6 small-8 columns">
			<%= e.input :name %>
			<%= e.hidden_field :user_id %>
		</div>

		<div class="large-4 medium-4 small-4 columns">
			<%= e.link_to_remove "remove" %>
		</div>
	</div>

	<%= e.fields_for :segments do |builder| %>
		<%= render 'segment_fields', s: builder %>
	<% end %>

	<div class="row">
		<%= e.link_to_add "Add Set", :segments %>
	</div>

</fieldset>

