<% provide(:title, "Workouts") %>

<h1>Workout index</h1>

<ul>
 <% for workout in @workouts %>
 <li><%= workout.name %></li>
  <li><% for exercise in workout.exercises.all %></li>
  			<%= exercise.name %>
  			<%= number_with_precision(exercise.strength, precision:1) %>
  			<% for segment in exercise.segments.all %>
  				<%= segment.weight %>x
  				<%= segment.reps %>
  			<% end %>
  		<% end %>
  <% end %>
</ul>



