<% provide(:title, "Workouts") %>

<h1>Workout Log Entry</h1>

<br>
<div class="form">
	<div class="large-6 large-centered columns">
	<%= simple_nested_form_for @workout do |f| %>


		<div class="row large-9 columns">
		<%= f.input :created_at, as: :date, :input_html => {:maxlength =>2,:style=> 'width: 90px'}, label: "Date" %> 
		<%= f.input :name %>
		</div>
		<div class="row">
			<div class="large-9 columns">
			<%= f.input :comment, as: :text %>
			</div>
			<div class="large-3 columns">
			<%= f.input :rating, :type => :select, collection: [["Excellent", 1],["Good", 2],["Okay", 3],["Not so good", 4], ["Bad", 5]]%>
			</div>
		</div>
		<br>
		<h2>Exercises</h2>
	
		<%= f.fields_for :exercises, @workout.exercises.build(:user_id => current_user.id) do |builder| %>
			<%= render 'exercise_fields', e: builder %>

		<% end %>
		<div class="row">
			<%= f.link_to_add "Add Exercise", :exercises %>
			<div style="float:right;"><%= f.button :submit %></div>
		</div>

	<% end %>

	</div>
</div>


