<% provide(:title, @user.name) %>

<div class="row">
	<div class="large-12 columns">
		<h1>
			<%= @user.name %>
		</h1>
		<br>
	</div>
</div>
<div class="row">
	<div class="large-4 column">
		<p>
		<%= image_tag("tree.jpeg", :alt => "tree") %>
		</p>
	</div>


	<div class="large-8 columns">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure impedit accusantium asperiores. Maxime nisi optio ex labore totam dolore quaerat voluptate recusandae. Aperiam, dolorem, unde accusantium labore quia at facilis itaque cupiditate eum omnis qui commodi quam minus sequi nihil vitae deleniti ut. Magnam, pariatur, quisquam, officiis, velit ipsum dolorem nemo itaque tempora optio ratione sunt similique nam aperiam. Veniam, sed aliquid quia quo dolorum provident eveniet numquam quibusdam iure non cum optio assumenda similique quisquam perspiciatis odio consequuntur error dolorem quasi officiis porro reiciendis accusantium exercitationem vero voluptas quas rerum ea harum aperiam. Accusantium, commodi, illo, inventore cumque laudantium aperiam suscipit voluptate eos autem natus facilis rem perspiciatis optio asperiores itaque. Eligendi, consectetur inventore possimus sed dolores esse laudantium.</p>
	</div>

</div>

<div class="row">
	<ul class="small-block-grid-4">
  <li class='container'><%= image_tag("flower.jpeg", :alt => "tree") %></li>
  <li class= 'container'><%= image_tag("horses.jpeg", :alt => "tree") %></li>
  <li class= 'container'><%= image_tag("nature.jpg", :alt => "tree") %></li>
  <li class= 'container'><%= image_tag("field.jpeg", :alt => "tree") %></li>
</ul>
</div>


