<br>
<div class="row">
  <div>
    <% if @workoutsTable.empty? %>
    <div class="panel">
     <p> You must first <%= link_to "enter a workout log", new_workout_path %> in order to see the
             the workout results table.</p>      
    </div>
   
    <% end %>
    <dl class="accordion" data-accordion>
        <% @workoutsTable.each do |workout| %>
      <dd>
        <a href="#<%= workout.id %>"> <%= workout.created_at.strftime("%d %b. %Y") %> | <%= workout.name %></a>
        <div id="<%= workout.id %>" class="content">
          <% workout.exercises.each do |e| %>
            <%= render 'exercises_table', e: e %>
            <% end %>
            
<ul class="button-group">
  <li>
     <%= link_to "edit", edit_workout_path(workout), class: 'tiny button secondary' %>  </li>
  <li>
    <%= button_to "delete", workout_path(workout.id), confirm: "Are you sure?", method: :delete, class: 'tiny button alert' %>
  </li>
</ul>
           
  
            
        </div>
      </dd>
        <% end %>
    </dl>

    <br>
    <br>
    <div class="row">

    <br>
    <%= will_paginate @workoutsTable, renderer: FoundationPagination::Rails %>
    </div>
  </div>
</div>