<% provide(:title, 'Create Profile') %>

<div id="myModal" class="reveal-modal tiny" data-reveal>
  <h2>Please create your Profile</h2>
  <p class="lead">If you don't want to at this point you can always visit your profile page and do it at a later time :)</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div class="row">
	<div class="large-4 large-centered columns">
		<h1>Create Profile</h1>
		<br>
		<div class="form">
		<%= simple_form_for @profile, :url => user_profile_path(@user) do |f| %>
			<%= f.input :age, hint: 'We need to know your age, height and activity level to be able to calculate your caloric requirements' %>
			<%= f.input :height, hint: 'We need to know your age, height and activity level to be able to calculate your caloric requirements'  %>
			<%= f.input :gender, collection: [["male", 1],["female", 2]], hint: 'We need to know your age, height and activity level to be able to calculate your caloric requirements'  %>
			<%= f.input :activity, collection: [["1: Little to no exercise", 1],["2: Light exercise (1-3 days per week)", 2],["3: Moderate exercise (3-5 days per week)", 3],["4: Heavy exercise (6-7 days per week", 4], ["5: Very heavy exercise (Twice a day, extra heavy workouts", 5]] %>
			<%= f.input :caltarget, label: 'Calorie target', hint: 'If applicable' %>
			<%= f.input :weighttarget, label: 'Target weight', hint: 'If applicable' %>
      	<%= f.button :submit, "Create my Profile" %>
		<% end %>
		</div>
	</div>
</div>
