<% provide(:title, 'Create Profile') %>

<div id="myModal" class="reveal-modal tiny" data-reveal>
  <h2>Please create your Profile</h2>
  <p class="lead">If you don't want to at this point you can always visit your profile page and do it at a later time :)</p>
  <a class="close-reveal-modal">&#215;</a>
</div>


<div class="row">
  <div class="large-8 large-push-4 columns">
  	<h1>Create Profile</h1>
		<br>
		<div class="form">
		<%= simple_form_for @profile, :url => user_profile_path(@user) do |f| %>
			<%= f.input :age %>
			<%= f.input :height, label: 'Height (in cm)' %>
			<%= f.input :gender, collection: [["male", 1],["female", 2]], hint: 'We need to know your age, height and activity level to be able to calculate your caloric requirements'  %>
			<%= f.input :activity, label: 'Activity level', collection: [["1: Little to no exercise", 1],["2: Light exercise (1-3 days per week)", 2],["3: Moderate exercise (3-5 days per week)", 3],["4: Heavy exercise (6-7 days per week", 4], ["5: Very heavy exercise (Twice a day, extra heavy workouts", 5]], selected: ["1: Little to no exercise", 1] %>
			<%= f.input :changerate, label:'Desired rate of weight change (if applicable)', collection: [["+1.00 kg a week", 1.00], ["+0.75kg a week", 0.75], ["+0.5 kg a week", 0.50], ["+0.25 kg a week", 0.25],["+0.125 kg a week", 0.125], ["Maintain weight", 0.00], ["-0.125 kg a week", -0.125], ["-0.25 kg a week", -0.25], ["-0.5 kg a week", -0.50], ["-0.75 kg a week", -0.75],["-1.00 kg a week", -1.00]], selected: ["Maintain weight", 0.00] %>
			<%= f.input :weighttarget, label: 'Target weight (if applicable)' %>
      	<%= f.button :submit, "Create my Profile" %>
		<% end %>
		</div>
	</div>

  <div class="large-4 large-pull-8 columns">
  	<div class="panel" style="margin-top:50px;">
			<h2> Information</h2>
			<br>

			<p>We use your profile information in order to calculate your caloric requirements and strength level. In order for our in-built BMR and caloric need calculator to work, we need to know you age, height, gender, activity level and current weight. Your maintenance caloric need will be calculated based off of your last weight input into the bodylogs tracker. None of your information will be shared with 3rd parties.</p> 
			
			<p>If you want we will determine your daily calorie target according to our calculcator and your chosen changerate. Just leave the calorie target field blank, fill in a desired changerate and we'll calculate your calorie target once you have entered your first bodylog.</p> 

			<p>Don't worry you can change or fill in all of your profile settings later in your Profile page!</p>
		</div>
	</div>
</div>


