<br>
<div class="large-12 column">
	<div class="row">
	<h2 id="month">
		<%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y/%m") %>
		<%= h @date.strftime("%B %Y") %>
		<%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y/%m") %>
	</h2>
		<table>
			<thread>
				<tr>
					<th width ="150">Date</th>
					<th width ="100">Weight</th>
					<th width ="100">Bodyfat %</th>
					<th width ="100">Calories</th>
					<th width ="100">Deficit/Surplus</th>
					<th width ="100"> </th>				
				</tr>
			</thread>
			<tbody>
				
				<% @bodylogsTable.each do |bodylog| %>
				<tr>
					<td><%= bodylog.created_at.strftime("%d %b. %Y") %></td>
					<td><%= best_in_place bodylog, :weight %></td>
					<td><%= best_in_place bodylog, :bodyfat %></td>
					<td><%= best_in_place bodylog, :kcal %></td>
					<% if bodylog.kcal && bodylog.weight %>
						<td> <%= bodylog.kcal - harrisbenedict(@profile.gender, @profile.height, @profile.age, bodylog.weight, @profile.activity).to_int %></td>
					<% end %>
					<td><%= button_to 'Delete', bodylog, method: :delete, confirm: 'Are you sure?'%></td>
				</tr>
				 <% end %>		
			</tbody>
		</table>
	</div>
</div>


<%= will_paginate @bodylogsTable, renderer: FoundationPagination::Rails %>
