<br>
<div class="large-12 column">
	<div class="row">
	<h2 id="month">
		<%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y/%m") %>
		<%= h @date.strftime("%B %Y") %>
		<%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y/%m") %>
	</h2>
		<table>
			<thread>
				<tr>
					<th width ="150">Date</th>
					<th width ="150">Weight</th>
					<th width ="150">Bodyfat %</th>
					<th width ="150">Calories</th>
				</tr>
			</thread>
			<tbody>
				
				<% @bodylogsTable.each do |bodylog| %>
				<tr>
					<td><%= bodylog.created_at.strftime("%d %b. %Y") %></td>
					<td><%= best_in_place bodylog, :weight %></td>
					<td><%= best_in_place bodylog, :bodyfat %></td>
					<td><%= best_in_place bodylog, :kcal %></td>
				</tr>
				 <% end %>		
			</tbody>
		</table>
	</div>
</div>


<%= will_paginate @bodylogsTable, renderer: FoundationPagination::Rails %>
